/* колір заголовків #212121 */
/* другорядний колір тексту #757575*/
/* Білий #FFFFFF */
/* акцент #2196F3 */
/* лого чорний #000000 */
/* основний колір фона  #F5F5F5; */
/* колір шапки  #FFFFFF*/
/* другорядний колір фона  #F5F4FA; */
/*  */
/* :root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --header-background-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;
  --button-activ-background-color: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}
.list {
  list-style: none;
} */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  } */

/* Header */

/* .header {
  background-color: var(--header-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid var(--border-color);
} */

/* Лого */

/* .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}
.header-nav .logo {
  margin-right: 93px;
}
.header-logo {
  color: var(--black-color);
}
.footer-logo {
  color: var(--white-color);
  text-decoration: none;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
} */
/* Site nav */
/* .link {
  text-decoration: none;
} */

/* .site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.site-nav .contact {
  color: var(--text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;

  color: var(--accent-color);
}
.site-nav .link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  background-color: var(--accent-color);
  display: block;
}
.nav-icon {
  fill: currentColor;
}
.link:hover .nav-icon,
.link:focus .nav-icon {
  fill: currentColor;
}
.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
} */

/* Hero */

/* .hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
} */
/* .button {
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border: none;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.button:hover,
.button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-activ-background-color);
} */
/* Section */

/* .section,
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
} */

/* Team */

/* .card-team {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--secondary-background-color);
  text-align: center;
  letter-spacing: 0.03em;
}
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team .job {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team-about {
  padding: 30px 0;
  /* outline: 2px solid red; */
/* } */

/* .team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-item {
  width: 44px;
  height: 44px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
} */
*/

/* ---------ІІ version----------- */
/* .team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
} */

/* Features */

/* .feature {
  max-width: 270px;
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
} */
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
/* .features {
  display: flex;
  gap: 30px;
}
.feature-icons {
  display: flex;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
} */

/* activity */

/* .section-activity {
  padding-top: 0;
}
.activity,
.team-card {
  display: flex;
  gap: 30px;
}
.activity-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  display: flex;
}

.activity-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
} */

/* Clients */

/* .client-list {
  display: flex;
  gap: 30px;
}
.client-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}
.client-icon {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
} */

/* -----------II version--------- */
/* .client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
} */

/* Footer */
/* .footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrap {
  position: relative;
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address .location {
  color: var(--white-color);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address .link {
  color: var(--address-color);
  text-decoration: none;
  display: inline-block;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address .link:hover,
.address .link:focus,
.address .location:hover,
.address .location:focus {
  color: var(--accent-color);
}

.list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.footer-soc-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.center-column-footer {
  margin-left: 70px;
} */
/* .subscribe-form-footer {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-color);
  padding-left: 16px;
}
.subscribe-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-color);
}
.subscribe-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.subscribe-button::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../imges/subscribe-icon.svg);
} */

/* Портфоліо */
/* .filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border: none;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
} */
/* .portfolio-card {
  width: calc((100% - 60px) / 3);
}
.portfolio-card-link {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  display: block;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.card-group {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.card-about {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}
.portfolio-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-card-link:hover .portfolio-text,
.portfolio-card-link:focus .portfolio-text {
  transform: translateY(0);
} */
/* 
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration);
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}
.modal-close-icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */
/* .modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-input:focus,
.modal-comment:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-comment {
  margin-bottom: 20px;
}
.modal-field-checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.check-text .span-icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.input-check:checked + .check-text .span-icon-check {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border-color: transparent;
}
.input-check:focus + .check-text .span-icon-check {
  border-color: var(--accent-color);
}
.contract-text {
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 4px;
} */