.hero {
  background-color: var(--hero-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: var(--gradient), url(../imges/hero_bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  @include retina {
    background-image: var(--gradient), url(../imges/hero_bg_mob_2x.jpg);
  }
  @include tablet {
    background-image: var(--gradient), url(../imges/hero_bg_tab.jpg);
    @include retina {
      background-image: var(--gradient), url(../imges/hero_bg_tab_2x.jpg);
    }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../imges/hero_bg.jpg);
    @include retina {
      background-image: var(--gradient), url(../imges/hero_bg_2x.jpg);
    }
  }
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 360px;
  margin: 0 auto;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
