.portfolio-card {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio-card-link {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-text,
  &:focus .portfolio-text {
    transform: translateY(0);
  }
  // height: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.card-group {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.card-about {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
